<div class="jumbotron jumbotron-fluid text-center ">
<h1 class="font-weight-normal text-left text-white pl-3 ">Bienvenue <%=@name%></h1>
<h4 class="font-weight-normal text-left text-white pl-3">Découvrez les derniers p'tits potins ...</h4>
    <div class="container">
        <div class="row justify-content-center">
            <div class="decouvrir">
            <div class="col-6"><br>
            <a class="btn btn-primary btn-md-6 " href="/gossips" role="button">DECOUVRIR</a>
            </div>
            </div>
        </div>
    </div>
</div>